<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= doctor.speciality %>
  </p>

  <p>
    <strong>City:</strong>
    <%= doctor.city %>
  </p>

  <p>
    <strong>Price per visit:</strong>
    <%= doctor.price_per_visit %>
  </p>

</div>
